@media (min-width: 200px){
  .options {
    display: flex;
    cursor: pointer;
  }
  .options h4,
  .options p {
    color: gray;
    width: 100px;
  }
  .options img{
    width: 40px;
  }
  .containermap {
    height: 200px;
    width: 200px;
    display: inline-block;
  }
  .calendar {
    background: black;
  }
  .datecontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: inline-flex;
    color: grey;
    width: 142px;
    margin-bottom: 10px;
  }
  .placesinput {
    position: relative;
    top: 125px;
    z-index: 10;
    text-align: center;
    justify-content: center;
    height: 300px;
  }
  .btnroute {
    height: 100px;
  }
  .calcularbtn {
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: rgb(42,168,154);
    font-weight: bold;
    padding: 0.2rem 1rem;
    border-radius: 3px;
    margin-top: 10px;
  }
  .continuebtn {
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: rgb(42,168,154);
    font-weight: bold;
    padding: 0.2rem 1rem;
    border-radius: 3px;
    margin-top: 10px;
  }
  .cancelarbtn {
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: rgb(42,168,154);
    font-weight: bold;
    padding: 0.2rem 1rem;
    border-radius: 3px;
    margin-top: 10px;
  }
  .datainfo {
    display: flex;
  }
  .distance,
  .duration,
  .value {
    color: rgb(42,168,154);
    font-weight: 800;
    border: 3px solid #8f8f8f;
    width: 81px;
    display: inline-block;
    font-size: .6rem;
    margin: 7px;
    border-radius: 5px 5px 0px 5px;
  }
}
